# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Vercel
.vercel

# Build output
/build

# Miscellaneous
.DS_Store

# Logs
*.log

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts
